@charset "utf-8";

@media (max-width:1024px) {
    /* search */
    .sh-box .sh-item-from {padding:20px}
    .sh-box .sh-item-title {margin-bottom:10px}
    .sh-item-from.small {width:120px}
    .sh-item-btn {width:120px}
    .sh-item-from ~ .sh-item-from:before {top:20px;bottom:20px}
    .sh-item-btn .sh-btn {font-size:26px}
    .sh-item-btn .sh-btn span {font-size:14px}
    .sh-box.type_b .sh-item-btn {width:160px}

    /* box module */
    .box-module_a .box-item {width:32%;margin-right:2%}
    .box-module_b .box-item {padding-top:30px}
    .box-module_b .box-item ~ .box-item {margin-top:30px}
    .box-module_b .box-item .img-area {width:40%}
    .box-module_b .room-type-area {padding:5px 0 20px}
    .box-module_b .room-info-group {margin-top:10px}
    .box-module_b .room-info-group .dl-type_b {width:60%}
}

@media (max-width:768px) {
    body {font-size:12px}

    input, textarea, select, button {font-size:12px}

    input[type="text"],
    input[type="date"],
    input[type="password"]{height:27px;padding:0 10px}

    .m_block {display:block}
    .only-pc {display:none !important}
    .breadcrumb {display:none}

    /* datepicker */
    .ui-datepicker-trigger:before {right:7px;width:12px;height:12px;margin-top:-6px}

    /* sprit */
    .ui-select:after,
    .ico_fromb:before,
    .ui-datepicker-trigger:before,
    .ico_from {background-image:url('../../resources/img/ico_form_m.png');background-size:500px auto}
    .ico_common,
    .breadcrumb-item:before {background-image:url('../../resources/img/ico_common.png');background-size:500px auto}

    /* select */
    .ui-select:after {width:8px;height:5px;margin-top:-2px;right:7px}
    .ui-m .ui-select .ui-select-btn {width:100%}
    .ui-select-wrap.bottom {top:26px}
    .ui-select-wrap.top {bottom:26px}

    /* title */
    .h-type_a {font-size:20px}
    .h-type_b {font-size:17px}
    .h-type_c {font-size:14px}
    .h-type_d {padding-left:8px;font-size:14px}
    .h-type_d:before {top:10px;width:3px;height:3px}

    /* text */
    .txt-type_a {font-size:11px}
    .txt-type_b {font-size:10px}
    [class*='txt-type'].point {color:#000;font-weight:500}
    .text-indent_a {padding-left:16px;text-indent:-16px;font-weight:300}

    /* button */
    [class*='btn-basic'] {min-width:43px;padding:0 15px;height:25px;line-height:25px;font-size:11px;border-radius:2px}
    [class*='btn-basic'].big {min-width:97px;padding:0 20px;height:35px;line-height:35px;font-size:12px}
    [class*='btn-basic'].small {padding:0 10px;height:21px;line-height:21px;font-size:10px}

    /* checkbox */
    .checkbox label {padding-left:19px;line-height:14px;min-height:14px}
    .checkbox label:before {width:14px;height:14px;border:1px solid #d5d6db}
    .checkbox label:after {top:4px;left:3px;width:9px;height:7px;background:url('../../resources/img/ico_form_m.png') no-repeat 0 0;background-size:500px auto}
    .checkbox input[type='checkbox'] {width:14px;height:14px}
    .checkbox.round label {min-height:17px;line-height:17px}
    .checkbox.round label:before {width:17px;height:17px}
    .checkbox.round label:after {width:12px;height:8px;top:5px;left:3px}

    /* radio */
    .radio label {padding-left:19px;line-height:14px;min-height:14px}
    .radio label:before {width:14px;height:14px}
    .radio label:after {left:4px;top:4px;width:6px;height:6px}
    .radio input[type='radio'] {width:14px;height:14px}

    /* search */
    .sh-box,
    [class*='sh-item'] {display:table;width:100%;table-layout:fixed}
    .sh-item-from {padding:10px 15px !important}
    .sh-item-from input[type="text"],
    .sh-item-from input[type="date"],
    .sh-item-from input[type="password"] {height:27px;line-height:27px;font-size:11px}
    .sh-item-from ~ .sh-item-from {border-top:1px solid #dbdde6}
    .sh-item-from ~ .sh-item-from:before {display:none}
    .sh-item-from.small {width:100%}
    .sh-item-from.small .sh-item-title {text-align:left}
    .sh-box .sh-item-title {display:table-cell;width:74px;margin-bottom:0;font-size:13px;vertical-align:middle}
    .sh-box .ui-select,
    .sh-box .datepicker-box {display:table-cell;vertical-align:top}
    .sh-item-btn {display:block;width:100% !important}
    .sh-item-btn .sh-btn {position:static;display:block;height:48px;font-size:16px}

    /* etc */
    .blt-new {width:14px;height:14px;padding-right:0;font-size:9px;line-height:14px}
    a + .blt-new {margin-left:2px}
    sup {font-size:9px}

    /* clamp */
    .clamp {max-width:90%}

    /* result */
    .result-box {padding:10px 12px}
    .result-box p {font-size:11px}

    /* list type */
    .dot_list li,
    .dot-item {padding-left:7px}
    .dot_list li:before,
    .dot-item:before {top:7px;width:3px;height:3px}
    .dot_list.small li:before {top:8px}

    /* box module */
    .room-type {font-size:20px}
    .box-module_a .box-item {width:100%;float:none}
    .box-module_a .box-item ~ .box-item {margin-top:15px;padding-top:15px;border-top:1px solid #ddd}
    .box-module_a .box-item ~ .box-item.active:before {top:15px}
    .box-module_a .box-item .info-area {padding:12px 0}
    .box-module_a .dl-type_a dt {width:83px}
    .box-module_a .dl-type_a dt .room-type {margin-bottom:5px}
    .box-module_a .dl-type_a dd {padding:0 18px;font-size:11px;line-height:16px}
    .box-module_a .check-area .checkbox {padding:9px 0}
    .box-module_a .check-area .checkbox label {font-size:13px;padding-left:22px}

    .box-module_b .box-item {padding-top:20px}
    .box-module_b .box-item ~ .box-item {margin-top:20px}
    .box-module_b .box-item .img-area {float:none;width:auto}
    .box-module_b .box-item .info-area {padding-left:0;margin-top:13px}
    .box-module_b .room-type-area {padding:0 0 15px}
    .box-module_b .room-type-area button {min-width:67px}
    .box-module_b .room-info-group .dl-type_b {float:none;width:auto}
    .box-module_b .dl-type_b {line-height:18px}
    .box-module_b .tb-type_d caption.dot-item {margin-top:5px}

    .tb-type_d caption.dot-item {margin-bottom:8px}
    .tb-type_d tbody th {padding:8px}
    .tb-type_d tbody td {padding:8px 15px}
    .tb-type_d tbody th,
    .tb-type_d tbody td {font-size:10px}

    .col-area .col-group .col.th {width:80px;padding:8px}
    .col-area .col-group .col.td {padding:5px 15px}

    /* table col */
    .cols-w2 {width:80px}
    .col-area .col-group {float:none;width:100%}
    .cols-w3 {width:57px}

    /* paging */
    .paging a {min-width:24px;height:24px;line-height:24px;font-size:11px}
}













